<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3000/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <div class="header-container">
        <div class="header">
            <div class="logo" style="background-image: url(http://localhost:3000/icon/logo.png)"></div>
            <a href="http://localhost:3000/">
            <div class="home">
                <img src="http://localhost:3000/icon/home.png" style="margin-right: 2px;">
                <span>Home</span>
            </div>
            </a>
            <div class="wrapper-gametype">
                    <div class="game-type">
                            <img src="http://localhost:3000/icon/gamecata.png" style="margin-right: 4px;">
                            <span>Thể loại game</span>
                            <div class="gametype-item">
                                    <a href="#">Hành động</a>
                                    <a href="#">Puzzle</a>
                                    <a href="#">Bắn súng</a>
                                    <a href="#">Racing</a>
                                    <a href="#">Game ARPG</a>
                                    <a href="#">Casual</a>
                                    <a href="#">Game RPG</a>
                                    <a href="#">Strategy</a>
                                    <a href="#">Sport</a>
                                    <a href="#">Adventure</a>
                            </div>
                    </div>
            </div>
            <div class="search">
                <input type="text" placeholder="Search game">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            
        </div> <!--end header-->
    </div> <!--end header-container-->
    <div class="support">
        <div class="tutorial">
            <img width="35px" height="35px" src="http://localhost:3000/icon/tutorial.png">
            <p>Hướng dẫn</p>
        </div>
        <div class="messenger">
            <img width="35px" height="35px" src="http://localhost:3000/icon/messenger.png">
            <p>Hỗ trợ</p>
        </div>
    </div> <!--end support-->
    <div class="content-container">
        <div class="content-wraper">
        	<div class="login">
                <span id="register_status">{{registerStatus}}</span>
        		<form method="POST">
                    <h6>Họ và tên</h6>
                    <input required="1" class="input" id="full-name" type="text" name="fullName">
        			<h6>Tên đăng nhập</h6>
        			<input required="1" class="input" id="username" type="text" name="username">
        			<h6>Mật khẩu</h6>
        			<input required="1" class="input" id="password" type="password" name="password">
                    {{!-- <h6>Xác nhận mật khẩu</h6>
                    <input required="1" class="input" id="verify-password" type="password" name="confirmPassword"> --}}
                    <h6>Số điện thoại</h6>
                    <input required="1" class="input" id="phone" type="text" name="phone">
                    <h6>Email</h6>
                    <input required="1" class="input" id="email" type="text" name="email">
                    <h6>Địa chỉ</h6>
                    <input required="1" class="input" id="address" type="text" name="address">
                    <input class="button" id = "register-button" type="submit" value="Đăng Ký">
        		</form>
        	</div>
        </div> 
    </div> <!--end content-container-->

    <div class="footer-container">
        <div class="footer">
                <div class="info">
                    <span>Thông tin</span><br>
                    <a href="#">Giới thiệu</a><br>
                    <a href="#">Chính sách bảo mật</a><br>
                    <a href="#">Điều khoản dịch vụ</a>
                </div>
                <div class="service">
                        <span>Chăm sóc khách hàng</span><br>
                        <a href="#">Liên hệ</a><br>
                        <a href="#">Chế độ bảo hành</a>
                </div>
                <div class="contact">
                        <span>Liên hệ</span><br>
                        <a href="#">Địa chỉ: Long Biên - Hà Nội</a><br>
                        <a href="#">Hotline: 0999.999.999 (24/7)</a><br>
                        <span>Kết nối</span>
                        <div class="social-network">
                            <img height="15px" width="15px" src="icon/facebook.png" style="margin-right: 10px; cursor: pointer;">
                            <i style="color: white; font-size: 20px; margin-right: 10px; cursor: pointer;" class="fa fa-youtube-play" aria-hidden="true"></i>
                            <img style="cursor: pointer;" height="15px" width="15px" src="icon/google.png">
                        </div>
                </div>
                <div class="facebook">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=300&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
                        style="border:none;overflow:hidden"
                        scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
        </div>   
        <div class="footer-bottom">
            <span class="copyright">© Copyright 2020 Big-city Boys</span> 
            <img src="http://localhost:3000/icon/bct.png">
        </div>
    </div> <!--end footer-container-->
    

    <script>
        const status = document.getElementById("register_status").innerHTML
        if(status){
            alert(status)
        }
    </script>


</body>
</html>