<!DOCTYPE html>
<span lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3000/css/success-payment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <div class="header-container">
        <div class="header">
            <div class="logo"></div>
            <div class="home">
                <img src="http://localhost:3000/icon/home.png" style="margin-right: 2px;">
                <span>Home</span>
            </div>
            <div class="wrapper-gametype">
                    <div class="game-type">
                            <img src="http://localhost:3000/icon/gamecata.png" style="margin-right: 4px;">
                            <span>Thể loại game</span>
                            <div class="gametype-item">
                                    <a href="http://localhost:3000/steam">Steam</a>
                                    <a href="http://localhost:3000/origin">Origin</a>
                                    <a href="http://localhost:3000/uplay">Uplay</a>
                                    <a href="http://localhost:3000/gog">Gog</a>
                                    <a href="http://localhost:3000/ubiisoft">Ubiisoft</a>
                                    <a href="http://localhost:3000/blizzard">Blizzard</a>
                                </div>
                        </div>
            </div>
            <div class="search">
                <input type="text" placeholder="Search game">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="header-button">
            </div>
    
        </div> <!--end header-->
    </div> <!--end header-container-->
    <div class="support">
        <div class="tutorial">
            <img width="35px" height="35px" src="http://localhost:3000/icon/tutorial.png">
            <p>Hướng dẫn</p>
        </div>
        <div class="messenger">
            <img width="35px" height="35px" src="http://localhost:3000/icon/messenger.png">
            <p>Hỗ trợ</p>
        </div>
    </div> <!--end support-->

    <div class="banner" style="background-image: url(http://localhost:3000/icon/bg.png)">
        <div class="overlay-banner"></div>
        <div class="wrapper">
            <span style="color: white;"><h1>Đặt hàng thành công</h1></span>        
            <p>
                <span style="color: #E0E9EF; font-size: 16px;">Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi! </span>
            </p>
            <a class="return-home-button" href="http://localhost:3000">Tiếp tục mua sắm</a>
        </div>
        
    </div> <!--end banner-->

    <div class="footer-container">
        <div class="footer">
            <div class="info">
                <span>Thông tin</span><br>
                <a href="#">Giới thiệu về Divine Shop</a><br>
                <a href="#">Chính sách bảo mật</a><br>
                <a href="#">Điều khoản dịch vụ</a>
            </div>
            <div class="service">
                    <span>Chăm sóc khách hàng</span><br>
                    <a href="#">Liên hệ</a><br>
                    <a href="#">Chế độ bảo hành</a>
            </div>
            <div class="contact">
                    <span>Liên hệ</span><br>
                    <a href="#">Địa chỉ: 110 Trần Phú - hà Đông - Hà Nội</a><br>
                    <a href="#">Hotline: 0974.947.421 (24/7)</a><br>
                    <span>Kết nối</span>
                    <div class="social-network">
                        <img height="15px" width="15px" src="http://localhost:3000/icon/facebook.png" style="margin-right: 10px; cursor: pointer;">
                        <i style="color: white; font-size: 20px; margin-right: 10px; cursor: pointer;" class="fa fa-youtube-play" aria-hidden="true"></i>
                        <img style="cursor: pointer;" height="15px" width="15px" src="icon/google.png">
                    </div>
            </div>
            <div class="facebook">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=300&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
                    style="border:none;overflow:hidden"
                    scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <span class="copyright">© Copyright 2019 DTS Group</span>
    </div>
</body>
</span>